body {
    margin: 0;
    background: #98ed91;
    text-align: center;
    font-family: "Arbutus";
}

a{
    text-decoration: none;
    color: #D6A8ED;
}

a:hover{
    text-decoration: solid;
    color: #ED8679;
}

.socials{
    background-color: #9DEDC5;
    overflow: hidden;
    text-align: center;
}

.socials a{
    float: left;
    color: black;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
    font-size: 17px;
}

.socials a:hover{
    background-color: #D6A8ED;
    color: black;
}

.socials a.active{
    background-color: #B0A8ED;
    color: white;
}